:root {
  --theme-main-color: #fff;
  --theme-second-color: #000;
  --theme-changed-opacity: 0.4;
  --theme-changed-color: #bb1d7e;
  --theme-muffled-color: rgba(255, 255, 255, 0.3);
  --theme-background-light-color: rgba(255, 255, 255, 0.13);
  --theme-background-transparent-color: rgba(13, 28, 45, 0.5);
  --theme-background-highttransparent-color: rgba(13, 28, 45, 0.5);
  --theme-background-color: #0d1c2d;
  --theme-background-changed-color: #213044;
  --theme-error-color: rgba(255, 0, 0, 0.8);
}