:root {
  --theme-main-color: #0e1521;
  --theme-second-color: #fff;
  --theme-muffled-color: #aeb0bd;
  --theme-changed-color: #aeb0bd;
  --theme-changed-opacity: 1;
  --theme-background-light-color: rgba(13, 28, 45, 0.06);
  --theme-background-transparent-color: rgba(255, 255, 255, 0.7);
  --theme-background-highttransparent-color: rgba(255, 255, 255, 0.3);
  --theme-background-color: #fff;
  --theme-background-changed-color: #d5d6d7;
  --theme-error-color: rgba(255, 0, 0, 0.5);
}