.app-header {
    background-color: #e3e3e3;
    padding: 12px 0;
}

.main-menu li a {
    font-size: 22px;
    color: #000000;
}

.main-menu li a:hover, .main-menu li a.active  {
    color: #0088cc;
}

.labelmenu {
    background-color: #737373;
    width: 100%;
    border-radius: 0px;
    border: none;
    margin: 0px;
    padding: 0;
    height: 54px;
}

.labelmenu li a:hover, .labelmenu li.selected a {
    background: rgb(1, 157, 224);
    text-decoration: none;
}

.labelmenu .nav.navbar-nav li {
    display: inline;
}

.app-menu ul {
    flex-direction: row;
}

.labelmenu .nav.navbar-nav li a {
    padding: 0 25px;
    line-height: 54px;
    color: #FFF;
    display: inline-block;
}

a {
    outline: 0;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
}


/* Dashboard */
.main-search {
  min-height: 300px;
  background: url('../images/dash-top-blue-bg.jpg') no-repeat center center / cover;
}
.dashboard-main-search-block {
  background: #f3f3f3;
  margin: auto;
  max-width: 530px;
  float: none;
  padding: 40px;
  -web-kit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dashboard-main-search-block h2 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333333;
  line-height: 22px;
  font-weight: bold;
}

.dashboard-main-search-block .counts {
  font-family: 'Droid Sans', sans-serif !important;
  font-weight: 700;
  font-size: 24px;
  display: block;
  color: #cb4e35;
}

.dashboard-charts .title span {
  background: rgb(1, 157, 224);
  color: #FFF;
  font-size: 18px;
  padding: 15px;
}
.dashboard-charts .card, .dashboard-charts .nav-link {
  border-radius: 0;
}

.dashboard-charts .card, .dashboard-charts .nav-link {
  border-radius: 0;
}

.dashboard-charts .nav-link {
  padding: 22px 0 22px 12px !important;
  color: #FFF;
  background-color: #00a6ed;
}

.dashboard-charts .nav-link.active, .dashboard-charts .nav-link:hover {
  background-color: #f3c300;
  position: relative;
}


.dashboard-charts .nav-link.active:after {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  margin-top: -20px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #f3c300;
  clear: both;
}